<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Create user</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${newUser}">
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="lastname">Lastname: </label>
  <input type="text" th:field="*{lastname}" id="lastname"/>
  <br/>
  <input type="submit" value="Create!">
</form>

</body>
</html>